@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

*{
  box-sizing: border-box;
}

body{
  background-color:#f8ddde;
  font-family: 'Open Sans', sans-serif;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.frame {
  background-color: white;
  width: 80%;
  border: 0px;
  border-radius: 2em;
  margin: auto;
 

  display: grid;
  grid-template-columns: 10px auto auto 10px;
  grid-template-rows: 5;
  
}

/* Header */
sadasda


/* Main */
main{
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
}

.section1{
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 50px 0px 50px;
  margin-top:20px;
}

.left {
  width: 30%;
}

h1 {
  margin: 0;
  color : black;
  font-size: 2.2em;
  font-weight: 700;
}

h5 {
  margin: 0;
  color: #FA6797;
  font-size: 1.2em;
}

p {
  color:#828282;
  margin-right: 0;
}

.bt{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
}
.bts1 {
  width: fit-content;
  /* height: 2.3em; */
  margin: 50px 20px 30px 0;
  padding: 10px; 
  color: white;
  background-color: #4B2BB7;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-family: 'Open Sans', sans-serif;
}

.bts2 {
  width: fit-content;
  /* height: 2.3em; */
  margin: 50px 20px 30px 0;
  padding: 10px; 
  color: #4B2BB7;
  border: 1px solid #4B2BB7;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.right {
  padding: 0px 50px 0px 50px;
  padding-left: 10px;
  width: 50%;
  height: 32vw;
  position: relative;

}

.month6 {
  width:300px;
  height:300px;
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
}


.month3 {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 80px;
  right: 130px;
}

hr {
  color: lightgray;
  size: 3px;
  width : 100%;
}

.section2{
  grid-row: 2;
  padding-left: 50px;
  height: auto;
  display: flex;
  flex-direction: column;

  
}

label{
  padding-top: 15px;
  padding-bottom: 2px;
}

input {
  height: 3em;
  width: 15em;
  background-color: #E2DDEF;
  border: 0;
  border-radius: 0.3em;
}
/* Footer */




/* Responsive */
