@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

*{
  box-sizing: border-box;
}

body{
  background-color:#f8ddde;
  font-family: 'Open Sans', sans-serif;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.frame {
  width: 80%;
  border-radius: 2em;
  margin: auto;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: white;
  background-image: url("img/big-circle.svg");
  background-size: 70% auto;
  background-position: 500px -130px;
  background-repeat: no-repeat;
 
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 3;
}

/* Header */

.headerwrap{
  grid-column: 1/5;
}

header {
  padding: 50px 100px 50px 100px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


nav ul {
  padding-left: 0;

  list-style-type: none;

  display: flex;
  flex-basis: column;
  justify-content: flex-end;
}

nav ul li {
  padding-right: 20px;
  color:white;

}

nav a{
  text-decoration: none;
  color:white;
}


/* Main */

main{
  grid-column: 1/5;

}

.section1{
  padding: 0px 100px 0px 100px;
  margin-top:20px;

  background-image: url("img/small-circle.svg");
  background-size: 25% auto;
  background-position: -180px 20px;
  background-repeat: no-repeat;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left {
  width: 40%;
}


h1 {
  margin: 0;
  color : black;
  font-size: 2.8em;
  font-weight: 700;
}

h5 {
  margin: 0;
  color: #FA6797;
  font-size: 1.2em;
}

p {
  color:#828282;
  margin-right: 0;
}

.bt{
  margin-bottom: 20px;

  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;

  display: flex;
  flex-direction: row;
}

.bts1 {
  width: fit-content;
  margin: 30px 20px 30px 0px;
  padding: 10px 20px 10px 20px; 

  background-color: #4B2BB7;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  color: white;
}

.bts2 {
  width: fit-content;
  margin: 30px 00px;
  padding: 10px 20px 10px 20px; 

  background-color: white;
  border: 1px solid #4B2BB7;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  color: #4B2BB7;
}

.right {
  width: 50%;
  height: 440px;
  padding: 0px 50px 0px 50px;
  padding-left: 10px;

  position: relative;
}

.month6 {
  width:300px;
  height:300px;

  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
}


.month3 {
  width: 300px;
  height: 300px;

  position: absolute;
  top: 80px;
  right: 130px;
  z-index: 0;
}

hr {
  size: 3px;
  color: lightgray;
  width : 100%;
}

.section2{
  padding: 0px 100px 0px 100px;
  height: auto;

  display: flex;
  flex-direction: column;
}

label{
  padding-top: 15px;
  padding-bottom: 2px;
  font-size: 0.9em;
}

input {
  height: 3em;
  width: 15em;

  background-color: #E2DDEF;
  border: 0;
  border-radius: 0.3em;
}

button {
  width: 110px;
}

/* Footer */

.footer{
  margin-top: 50px;
  padding-top: 2vh;
  padding-left: 100px;
  height: 6vh;

  grid-column: 1/5;

  background-color: #4B2BB7;
  color: white;
  font-size: 0.8em;

  border-bottom-left-radius: 2em;
  border-bottom-right-radius:2em; 
}


/* Responsive */
@media only screen and (min-width:1366px){
  .frame{
    width:1000px;
  } 
}


@media only screen and (max-width:1200px){
  .frame {
    width: 95%;
  }
}


@media only screen and (max-width:1024px){
  .frame {
    width: 90%;
  }
  nav ul li {
    padding-right: 20px;
    color:#828282;
  }

  nav a{
    text-decoration: none;
    color:#828282;
  }

  .section1 {
    flex-direction: column;
  }

  .left {
    width: auto;
    height: fit-content;
  }

  .right {
    width: auto;
    height:  400px;
  }
}


@media only screen and (max-width:720px){
  .frame{
    width: 100%;
  }
  header,.section1,.section2{
    padding: 20px 20px 20px 20px;
  }
  .right {
    display: none;
  }
}